<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.students.mapper.StudentsMapper">
    
	<sql id="studentsColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.student_id AS "studentId",
		a.name AS "name",
		a.sex AS "sex",
		a.age AS "age",
		a.grade AS "grade",
		a.teacher AS "teacher",
		a.score AS "score",
		a.place AS "place"
	</sql>
	
	<sql id="studentsJoins">
		
	</sql>
	
    
	<select id="get" resultType="Students" >
		SELECT 
			<include refid="studentsColumns"/>
		FROM student a
		<include refid="studentsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Students" >
		SELECT 
			<include refid="studentsColumns"/>
		FROM student a
		<include refid="studentsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Students" >
		SELECT 
			<include refid="studentsColumns"/>
		FROM student a
		<include refid="studentsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO student(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			student_id,
			name,
			sex,
			age,
			grade,
			teacher,
			score,
			place
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{studentId},
			#{name},
			#{sex},
			#{age},
			#{grade},
			#{teacher},
			#{score},
			#{place}
		)
	</insert>
	
	<update id="update">
		UPDATE student SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			student_id = #{studentId},
			name = #{name},
			sex = #{sex},
			age = #{age},
			grade = #{grade},
			teacher = #{teacher},
			score = #{score},
			place = #{place}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM student
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE student SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Students" statementType="STATEMENT">
		select * FROM student  where ${propertyName} = '${value}'
	</select>
	
</mapper>