<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.ebook.mapper.HistoryMapper">

    <sql id="historyColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.bookname AS "bookname",
		a.bookid AS "bookid",
		a.bookpic AS "bookpic",
		a.chapterid AS "chapterid",
		a.userid AS "userid",
		a.date AS "date",
		a.remarks AS "remarks"
	</sql>

    <sql id="historyJoins">

    </sql>


    <select id="get" resultType="History">
        SELECT
        <include refid="historyColumns"/>
        FROM history a
        <include refid="historyJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="History">
        SELECT
        <include refid="historyColumns"/>
        FROM history a
        <include refid="historyJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="History">
        SELECT
        <include refid="historyColumns"/>
        FROM history a
        <include refid="historyJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
		INSERT INTO history(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			bookname,
			bookid,
			bookpic,
			chapterid,
			userid,
			date,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{bookname},
			#{bookid},
			#{bookpic},
			#{chapterid},
			#{userid},
			#{date},
			#{remarks}
		)
	</insert>

    <update id="update">
		UPDATE history SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			bookname = #{bookname},
			bookid = #{bookid},
			bookpic = #{bookpic},
			chapterid = #{chapterid},
			userid = #{userid},
			date = #{date},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


    <!--物理删除-->
    <update id="delete">
		DELETE FROM history
		WHERE id = #{id}
	</update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
		UPDATE history SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="History" statementType="STATEMENT">
		select * FROM history  where ${propertyName} = '${value}'
	</select>

</mapper>