<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.weixin.mapper.WxMenuMapper">

    <sql id="wxMenuColumns">
		a.id AS "id",
		a.name AS "name",
		a.parent_id AS "parentId",
		a.event_type AS "eventType",
		a.type AS "type",
		a.keyword AS "inputCode",
		a.url AS "url",
		a.sort AS "sort",
		a.msg_type AS "msgType",
		a.msg_text AS "msgText",
		a.msg_id AS "msgId",
		a.account AS "account",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag"
	</sql>

    <sql id="wxMenuJoins">

    </sql>


    <select id="get" resultType="WxMenu">
        SELECT
        <include refid="wxMenuColumns"/>
        FROM wx_menu a
        <include refid="wxMenuJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="WxMenu">
        SELECT
        <include refid="wxMenuColumns"/>
        FROM wx_menu a
        <include refid="wxMenuJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="type != null and type != ''">
                AND a.type = #{type}
            </if>
            <if test="inputCode != null and inputCode != ''">
                AND a.keyword = #{inputCode}
            </if>
            <if test="msgId != null and msgId != ''">
                AND a.msg_id = #{msgId}
            </if>
            <if test="account != null and account != ''">
                AND a.account = #{account}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.id
            </otherwise>
        </choose>
    </select>

    <select id="findListByParentId" resultType="WxMenu">
        SELECT
        <include refid="wxMenuColumns"/>
        FROM wx_menu a
        <include refid="wxMenuJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="parentId != null and parentId != ''">
                AND a.parent_id = #{parentId}
            </if>
            <if test="account != null and account != ''">
                AND a.account = #{account}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.id
            </otherwise>
        </choose>
    </select>


    <select id="findAllList" resultType="WxMenu">
        SELECT
        <include refid="wxMenuColumns"/>
        FROM wx_menu a
        <include refid="wxMenuJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
		INSERT INTO wx_menu(
			id,
			name,
			parent_id,
			event_type,
			type,
			keyword,
			url,
			sort,
			msg_type,
			msg_text,
			msg_id,
			account,
			create_date,
			create_by,
			update_by,
			update_date,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{parentId},
			#{eventType},
			#{type},
			#{inputCode},
			#{url},
			#{sort},
			#{msgType},
			#{msgText},
			#{msgId},
			#{account},
			#{createDate},
			#{createBy.id},
			#{updateBy.id},
			#{updateDate},
			#{delFlag}
		)
	</insert>

    <update id="update">
		UPDATE wx_menu SET 	
			name = #{name},
			parent_id = #{parentId},
			event_type = #{eventType},
			type = #{type},
			keyword = #{inputCode},
			url = #{url},
			sort = #{sort},
			msg_type = #{msgType},
			msg_text = #{msgText},
			msg_id = #{msgId},
			account = #{account},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


    <!--物理删除-->
    <update id="delete">
		DELETE FROM wx_menu
		WHERE id = #{id}
	</update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
		UPDATE wx_menu SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="WxMenu" statementType="STATEMENT">
		select * FROM wx_menu  where ${propertyName} = '${value}'
	</select>

</mapper>