<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.weixin.mapper.WxMsgNewsMapper">
    
	<sql id="wxMsgNewsColumns">
		a.id AS "id",
		a.mult_type AS "multType",
		a.title AS "title",
		a.author AS "author",
		a.brief AS "brief",
		a.content AS "content",
		a.pic_path AS "picPath",
		a.pic_dir AS "picDir",
		a.show_pic AS "showPic",
		a.url AS "url",
		a.from_url AS "fromUrl",
		a.status AS "status",
		a.media_id AS "mediaId",
		a.thumb_media_id AS "thumbMediaId",
		a.news_index AS "newsIndex",
		a.account AS "account",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="wxMsgNewsJoins">
		
	</sql>
	
    <resultMap type="WxMsgNews" id="WxMsgNewsResult" autoMapping="true">
    	<result column="content" property="content"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="WxMsgNewsResult" >
		SELECT 
			<include refid="wxMsgNewsColumns"/>
		FROM wx_msg_news a
		<include refid="wxMsgNewsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="WxMsgNewsResult" >
		SELECT 
			<include refid="wxMsgNewsColumns"/>
		FROM wx_msg_news a
		<include refid="wxMsgNewsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="multType != null and multType != ''">
				AND a.mult_type = #{multType}
			</if>
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			<if test="showPic != null and showPic != ''">
				AND a.show_pic = #{showPic}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="account != null and account != ''">
				AND a.account = #{account}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="WxMsgNewsResult" >
		SELECT 
			<include refid="wxMsgNewsColumns"/>
		FROM wx_msg_news a
		<include refid="wxMsgNewsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wx_msg_news(
			id,
			mult_type,
			title,
			author,
			brief,
			content,
			pic_path,
			pic_dir,
			show_pic,
			url,
			from_url,
			status,
			media_id,
			thumb_media_id,
			news_index,
			account,
			create_date,
			create_by,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{multType},
			#{title},
			#{author},
			#{brief},
			#{content},
			#{picPath},
			#{picDir},
			#{showPic},
			#{url},
			#{fromUrl},
			#{status},
			#{mediaId},
			#{thumbMediaId},
			#{newsIndex},
			#{account},
			#{createDate},
			#{createBy.id},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE wx_msg_news SET 	
			mult_type = #{multType},
			title = #{title},
			author = #{author},
			brief = #{brief},
			content = #{content},
			pic_path = #{picPath},
			pic_dir = #{picDir},
			show_pic = #{showPic},
			url = #{url},
			from_url = #{fromUrl},
			status = #{status},
			media_id = #{mediaId},
			thumb_media_id = #{thumbMediaId},
			news_index = #{newsIndex},
			account = #{account},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wx_msg_news
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wx_msg_news SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxMsgNews" statementType="STATEMENT">
		select * FROM wx_msg_news  where ${propertyName} = '${value}'
	</select>
	
</mapper>