<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.weixin.mapper.WxTplMsgMapper">
    
	<sql id="wxTplMsgColumns">
		a.id AS "id",
		a.tpl_id AS "tplId",
		a.title AS "title",
		a.content AS "content",
		a.wx_tpl AS "wxTpl",
		a.account AS "account",
		a.url AS "url",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="wxTplMsgJoins">
		
	</sql>
	
    
	<select id="get" resultType="WxTplMsg" >
		SELECT 
			<include refid="wxTplMsgColumns"/>
		FROM wx_tpl_msg a
		<include refid="wxTplMsgJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="WxTplMsg" >
		SELECT 
			<include refid="wxTplMsgColumns"/>
		FROM wx_tpl_msg a
		<include refid="wxTplMsgJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			<if test="wxTpl != null and wxTpl != ''">
				AND a.wx_tpl = #{wxTpl}
			</if>
			<if test="account != null and account != ''">
				AND a.account = #{account}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WxTplMsg" >
		SELECT 
			<include refid="wxTplMsgColumns"/>
		FROM wx_tpl_msg a
		<include refid="wxTplMsgJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wx_tpl_msg(
			id,
			tpl_id,
			title,
			content,
			wx_tpl,
			account,
			url,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{tplId},
			#{title},
			#{content},
			#{wxTpl},
			#{account},
			#{url},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE wx_tpl_msg SET 	
			tpl_id = #{tplId},
			title = #{title},
			content = #{content},
			wx_tpl = #{wxTpl},
			account = #{account},
			url = #{url},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wx_tpl_msg
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wx_tpl_msg SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxTplMsg" statementType="STATEMENT">
		select * FROM wx_tpl_msg  where ${propertyName} = '${value}'
	</select>
	
</mapper>