<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cms.mapper.CommentMapper">
    
	<sql id="commentColumns">
		a.id AS "id",
		a.content_id AS "contentId",
		a.content AS "content",
		a.member_id AS "memberId",
		a.create_date AS "createDate",
		a.audit_user_id AS "auditUserId",
		a.audit_date AS "auditDate",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="commentJoins">
		
	</sql>
	
    
	<select id="get" resultType="Comment" >
		SELECT 
			<include refid="commentColumns"/>
		FROM cms_comment a
		<include refid="commentJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Comment" >
		SELECT 
			<include refid="commentColumns"/>
		FROM cms_comment a
		<include refid="commentJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="contentId != null and contentId != ''">
				AND a.content_id = #{contentId}
			</if>
			<if test="memberId != null and memberId != ''">
				AND a.member_id = #{memberId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Comment" >
		SELECT 
			<include refid="commentColumns"/>
		FROM cms_comment a
		<include refid="commentJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cms_comment(
			id,
			content_id,
			content,
			member_id,
			create_date,
			audit_user_id,
			audit_date,
			del_flag
		) VALUES (
			#{id},
			#{contentId},
			#{content},
			#{memberId},
			#{createDate},
			#{auditUserId},
			#{auditDate},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cms_comment SET 	
			content_id = #{contentId},
			content = #{content},
			member_id = #{memberId},
			audit_user_id = #{auditUserId},
			audit_date = #{auditDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cms_comment
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cms_comment SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Comment" statementType="STATEMENT">
		select * FROM cms_comment  where ${propertyName} = '${value}'
	</select>
	
</mapper>